@model UserRegisterModel

@{
    Layout = "_LayoutLogin";
}

@{
    ViewData["Title"] = "Login";
}

<form asp-action="RegisterUser" asp-controller="Login">

    <br />

    <div class="container border p-3">

        <h2 class="text-warning">Register</h2>

        <hr />

        <div class="row">

            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

            <div class="col-lg-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:18px"></label>
            </div>
            <div class="col-lg-10 pb-3">
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-lg-2">
                <label asp-for="Email" class="control-label pt-2" style="font-size:18px"></label>
            </div>
            <div class="col-lg-10 pb-3">
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-lg-2">
                <label asp-for="Password" class="control-label pt-2" style="font-size:18px;"></label>
            </div>
            <div class="col-lg-10 pb-3">
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-lg-2">
                <label asp-for="Role" class="control-label pt-2" style="font-size:18px;"></label>
            </div>
            <div class="col-lg-10 pb-3">
                <select asp-for="Role" class="form-control">
                    <option value="">Selecione</option>
                    <option value="Admin">Admin</option>
                    <option value="Customer">Customer</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2 d-md-block text-end mt-2">
                <a asp-action="Index" asp-controller="Login" class="btn btn-primary">Sign in</a>
                <button class="btn btn-success" type="submit">Register</button>
            </div>

        </div>

    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}